// BUTTONS

.btn {
	border-radius: 0;
	border: 2px solid $accent_color;
	color: $accent_color;
	background: transparent;

    & + .btn {
        margin-left: 15px;
    }
}

.btn-primary {
	border-color: $accent_color;

	&:hover, &:active, &:focus, &:active:focus {
		background-color: $accent_color;
		border-color: $accent_color;
		color: $white;
		box-shadow: none;
	}
}

.btn-group-lg > .btn, 
.btn-lg {
	text-transform: uppercase;
	font-size: 18px;
	padding: 9px 18px;
}
