// FOOTER

footer {
	background: $black;

    .divider {
    	border-bottom: 1px solid $soft_black;
    }
    
    .footer-nav {
    	margin: 0;
        padding: 0;
        text-align: center;

    	li {
        	display: inline-block;
            margin: 0 15px;

            > a {
        		color: $grey;
        		font-weight: 700;
                padding: 22px 0;
                display: block;
                text-transform: uppercase;
                font-size: 14px;
                transition: $transition;

                &:hover, &:focus, &:active {
                    color: white;
                    text-decoration: none;
                }
        	}
    	}
    }
    
    #logo {
    	opacity: 0.7;
    	transition: opacity 0.25s ease-in-out;
        margin-bottom: 10px;

    	&:hover {
    		opacity: 1.0;
    	}
    }
    
    .address-block {
    	margin: 40px 0;
    	text-align: center;
    	font-size: 16px;

        ul { margin: 0; padding: 0; }
        li {
        	display: inline-block;
        	margin: 0px 12px;
        }
    	a {
    		color: $white;
    		font-weight: 500;
    	}
    }
    
    .copyright {
    	font-size: 16px;
    	margin-bottom: 0;

    	small {
    		color: $grey;
    		font-weight: 300;
    	}
    }
}
