.grid {
    margin-left: 70px;
	margin-right: 70px;

	.grid-item {
		width: 225px;
	  	height: 225px;
	  	position: relative;
	  	float: left;
		border: none;
		margin: 15px;
        overflow: hidden;

		&:hover {
            .overlay-content { opacity: 1; }
		}   
        img {
            width: 105%;
            height: auto;
        }

        .overlay-content {
            position: absolute;
			top: 0;
			left: 0;
			background-color: rgba($accent_color, .8);
			width: 100%;
			height: 100%;
			display: block;
            padding: 25px;
            opacity: 0;
            transition: $transition;
        }
		.year {
			position: relative;
			font-size: 18px;
			color: $white;
			font-weight: 600;
            letter-spacing: 1px;
		}
		.caption {
			position: relative;
			color: $white;
			font-size: 24px;
			font-weight: 100;
			line-height: 1.4;
		}

        a {  
            display: block;
        }
	}

	.grid-item--rectangle {
		width: 480px;
	}
	.grid-item--lg-square {
		width: 480px;
		height: 480px;

        .overlay-content {
            padding: 30px;

            .caption {
                font-size: 42px;
            }
        }
	}
	.grid-item--horizontal {
		width: 225px;
		height: 480px;
	}
}

.touch-device .grid .grid-item .overlay-content {
		opacity: 1 !important;
}


@media screen and (max-width: 768px){
    	.grid-item {
	    	width:100% !important;
    	}
}

/* Masonry container */
.masonry {
    column-count: 4;
    column-gap: 1em;
}

/* Masonry bricks or child elements */
.item { 
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    margin: 15px;
    position: relative;
}

.masonry .item:hover .overlay-content {
      opacity: 1; }
    .masonry .item img {
      width: 100%;
      height: auto; }
    .masonry .item .overlay-content {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 0, 0, 0.8);
      display: block;
      padding: 25px;
      opacity: 0;
      transition: 0.5s all;
      width: 100%;
      height: 100%; }
    .masonry .item .year {
      position: relative;
      font-size: 18px;
      color: #FFFFFF;
      font-weight: 600;
      letter-spacing: 1px; }
    .masonry .item .caption {
      position: relative;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 100;
      line-height: 1.4;
      height: inherit;
      overflow: hidden; }
    .masonry .item a {
      display: block; }
      

.masonry .item:nth-child(2n) .overlay-content {
  background-color: rgba(237, 190, 57, 0.8); }
.masonry .item:nth-child(3n) .overlay-content {
  background-color: rgba(238, 42, 118, 0.8); }
.masonry .item:nth-child(4n) .overlay-content {
  background-color: rgba(172, 209, 86, 0.8); }
.masonry .item:nth-child(5n) .overlay-content {
  background-color: rgba(38, 169, 224, 0.8); }
.masonry .item .overlay-content {
  background-color: rgba(38, 169, 224, 0.8); }
.masonry .item .caption {
  font-family: "Courier New", Courier, "Lucinda Sans Typewriter", monospace; }
  
@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

