// FOOTER

footer {
	background: $black url(../images/footer-background.jpg) no-repeat;
    background-size: cover;

    .divider {
    	border-bottom: 1px solid $soft_black;
    }
    
    .footer-nav {
    	li {
            > a {
                font-family: $display_font_stack;
                letter-spacing: 1px;
                font-size: 21px;
                line-height: 1;
                padding: 20px 0 26px;
        	}
    	}
    }
}
