.grid {
	.grid-item {
        &:nth-child(2n) {
            .overlay-content {
    			background-color: rgba($yellow , 0.8);
            }
        }
        &:nth-child(3n) {
            .overlay-content {
    			background-color: rgba($pink , 0.8);
            }
        }
        &:nth-child(4n) {
            .overlay-content {
    			background-color: rgba($accent_color , 0.8);
            }
        }
        &:nth-child(5n) {
            .overlay-content {
    			background-color: rgba($blue , 0.8);
            }
        }

        .overlay-content {
			background-color: rgba($blue , 0.8);
        }
		.year {
            
		}
		.caption {
			font-family: $heading_font_stack;
		}
	}
}