// NAVBAR

header {
    .navbar-brand {
    	font-family: $display_font_stack;
    	color: $white !important;
    	text-transform: uppercase;
    	font-size: 48px;
    	font-weight: 700;
    	transform: rotate(-2deg);
    	margin-left: 0px !important;
    	margin-top: 10px;
    	margin-bottom: 10px;
    }
    .navbar-nav {
    	li {    
        	> a {
                color: $grey;
                font-family: $p_font_stack;
                font-weight: 700;
                transition: $transition;

                &:after {
    				border-bottom: none;
                    bottom: 10px;
                    opacity: 0;
                    transition: $transition;
    			}        
        		&:hover {
        			&:after {
        				border-bottom: none;
                        background: url(../images/accent-underline.svg) no-repeat center center;
                        background-size: contain;
                        height: 5px;
                        left: 0;
                        width: 100%;
                        bottom: 20px;
                        opacity: 1;
        			}
        		}
        	}
        }
        svg {
			fill: $grey;

			&:hover {
				fill: white;
			}
		}
        #search-link {
			&:hover {
                bottom: 0;

                &:after {
                    content: none;
                }
			}
		}
    }
}
