// LAYOUT

body {
    position: relative;
}


main {
	background: $white;
	color: $black;
}

article {
	padding-top: 5em;
	padding-bottom: 8em;

	p {
		margin-top: 30px;
	}
	a {
		font-weight: 700;
		text-decoration: underline;
	}
}

.jumbotron {
	overflow: hidden !important;
	color: $white;
	padding-bottom: 10px;
	
	body.front & {
		height: 650px;
		padding-top: 120px;
	}

    h1 {
		color: $white;
		text-transform: uppercase;
		font-size: 54px;
		line-height: 1.2;
		margin-bottom: 30px;
		
		// for Drupal
		body.front & {
			font-size: 96px;
			margin-bottom: 50px;
		}
	}
	
	.container { 
		position: relative; 
		z-index: 2; 
	}
	
    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 650px;
        overflow: hidden;
        z-index: 1;
    }
}



.popover {
	border-radius: 0;
	background: #000;
	left: 15px;
	transition: opacity 0.5s ease-in-out;

    &.right {
        margin-left: 20px;
      
        .arrow:after {  
          border-right-color: #000;
        
        }
    }
    
    .popover-title {
        background: none;
    	color: white;
    	border: none;
    	font-weight: 100;
    	font-size: 18px;
    	padding: 8px 14px 0px 14px;
    }
    
    .popover-content {
    	color: white;
    	font-size: 11px;
    	margin-top: 0;
    	padding-top: 0px;
    	font-weight: 500;
    }
}

body.toolbar-drawer {
	padding-top: 2.2em;
}

.views-exposed-form {
	display: none !important;
}

p.breadcrumbs {
	font-size: 13px;
	text-transform: uppercase;
	color: #BFB9B6;
	font-weight: 700;
}

.hero-unit.error  .jumbotron {
    margin: 0;
    border: none;
    background: url(../themes/dcpunk/images/404.jpg) !important;
    height:650px;
    background-position-y:200px;
}

.digdc-link {
	padding-left: 10px;
}

.form-item {
    margin: 0 0 20px; 
}

.form-item label:not(.option) {
    font-size: 14px;
    text-transform: uppercase;
    color: #BFB9B6;
    display: block; 
}

.form-item label.option {
    margin-left: 6px;
    top: 4px;
    position: relative;
    font-size: 16px; 
}

.form-item input[type="password"],
.form-item input[type="text"],
.form-item input[type="email"],
.form-item textarea {
    height: 44px;
    background: #f1f2f2;
    border: 1px solid #e4e6e6;
    border-radius: 6px;
    padding: 6px 14px 8px;
    box-shadow: none;
    width: 100%;
    transition: all 0.25s;
    font-size: 16px;
    font-weight: 300; 
}

.form-item input[type="password"]:focus, .form-item input[type="password"]:hover, .form-item input[type="password"]:active,
.form-item input[type="text"]:focus,
.form-item input[type="text"]:hover,
.form-item input[type="text"]:active,
.form-item input[type="email"]:focus,
.form-item input[type="email"]:hover,
.form-item input[type="email"]:active,
.form-item textarea:focus,
.form-item textarea:hover,
.form-item textarea:active {
      box-shadow: 0 0 8px rgba(26, 135, 200, 0.45);
      outline: none;
}

.form-item textarea {
    height: auto; 
}

.webform-submit {
  margin: 0 auto;
  display: block; 
}
  
.webform-submit {
    background: white;
    border: 2px solid $accent_color;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 30px 14px;
    color: $accent_color;
    transition: all 0.25s;
}

.webform-submit:hover {
	color: $white;
	background: $accent_color;
}

