// TYPOGRAPHY

body {
	color: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-stack;
}

p {
	//font-size: 18px; moved to custom.scss
	line-height: 2.1;
	font-weight: 300;
}

a {
	color: $accent_color;

	&:link, &:hover, &:active, &:focus {
		color: $accent_color;
	}
}
