#audioplayer {
	float: right;
	width: 275px;
	height: 60px;
	background-color: black;
	margin-top: 10px;
	position: relative;

	h6 {
        margin-bottom: 3px;
        font-size: 16px;
        margin-left: 15px;
        float: left;
	}

	h2 {
        font-weight: 100;
        margin-top: 3px;
        margin-bottom: 0;
        float: left;
        margin-left: 15px;
	}
}

.album-cover-placeholder {
    width: 60px;
    height: 60px;
	background: red;
	float: left;
	position: relative;
}

.album-cover-placeholder-big {
	width: 100px;
	height: 100px;
	background: red;
	float: left;
	position: relative;
}

#nowPlay {
	position: absolute;
	bottom: 25%;
	left: 25%;
}

#playButton, #pauseButton {
	position: absolute;
	bottom: 33%;
	right: 38%;
	opacity: 0.7;
}

#btnNext {
	float: right;
	margin-right: 2em;
	margin-top: 2em;
	border-radius: 50%;
	border: 1px solid black;
	padding: 10px 7px 10px 12px;
} 

#npTitle {
	color: #222;

	h3 {
	    font-weight: 100;
	}
}

#npBand {
	color: #222;
}