#culture-landing-page {

	body {
		background: $white;
	}

	h2 {
		color: #222;
		font-weight: 100;
		font-size: 44px;
		margin-left: 40px;
		margin-top: 50px;
	}

	h4 {
		color: $black;
		margin-left: 40px;
		font-weight: 100;
		line-height: 1.6;
	}

	.jumbotron {
		background: $white;
		margin-bottom: 0;
		padding-bottom: 4em;
	}

	.subnav {
		border-bottom: 1px solid #dedede;
		
		ul {
			text-align: center;
				li {
					display: inline-block;
					font-size: 16px;
					margin-left: 1em;
					margin-right: 1em;
					transition: color 0.25s ease-in-out;
					a {
						color: $black;
						&:link {
							color: $black;
						}
						&:hover {
							color: #000;
						}
					}
				}
			}

		}

	#active-page {
		color: #000;
	}

	section {
		background: $white;
		padding-bottom: 6.5em;
	}

	.grid {
		background: $white;
		
	}

}

