#spaces-landing-page {

	body {
		background: $white;
	}

	h2 {
		color: #222;
		font-weight: 100;
		font-size: 44px;
		margin-left: 40px;
		margin-top: 50px;
	}

	h4 {
		color: $black;
		margin-left: 40px;
		font-weight: 100;
		line-height: 1.6;
	}

	.jumbotron {
		background: $white;
		margin-bottom: 0;
		padding-bottom: 4em;
	}

	.subnav {
		border-bottom: 1px solid #dedede;
		
		ul {
			text-align: center;
				li {
					display: inline-block;
					font-size: 16px;
					margin-left: 1em;
					margin-right: 1em;
					transition: color 0.25s ease-in-out;
					a {
						color: $black;
						&:link {
							color: $black;
						}
						&:hover {
							color: #000;
							text-decoration: none;
						}
					}
				}
			}

		}

	#active-page {
		color: #000;
	}

	section {
		background: $white;
		padding-bottom: 6.5em;
	}


table {
	margin: 10px 0px;
	td, a {
	color: #222;
	font-size: 20px;
	font-weight: 300;
	}
	a {
		font-weight: 600;
		&:link {
			color: #222;
		}
		&:hover {
			color: #222;
		}
	}

}

.table>tbody>tr>td {
	padding: 40px 5px;
}

.table>tbody>tr>.table_letter {
		font-size: 48px;
		font-weight: 100;
		padding: 20px 10px;
	}

p {
	text-align: center;
	small {
		color: $black;
		font-style: italic;
	}
	a {
	color: #222;
	font-weight: 700;
}
}


#map {
	height: 600px;
}

.map-container {
	position: relative;
}



.marker-star {
	content: url(../images/filled-star.svg);
	width: 5px;
	position: absolute;
	bottom: 0;


}

#legend {
	position: absolute;
	bottom: 35px;
	left: 35px;
	z-index: 999;
	width: auto;
	height: 110px;
	background: $white;
	box-shadow: 0 0 10px rgba(120, 120, 120, 0.5);
	
	ul {
		margin-top: 15px !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	
	svg {
		width: 15px;
	}
	
	#venue_marker {
		fill: $black;
	}
	
	#record_store_marker {
		fill: $black;
	}
	
	#studios_marker {
		fill: $black;
	}
	
	#houses_marker {
		fill: $black;
	}

	>ul>li {
		list-style-type: none;
		color: $black;
		font-family: $p_font_stack;
		font-weight: 700;
	}
}

.copyright small{
	font-size: 12px;
	font-style: initial;
}


}

@media screen and (max-width: 640px){
    #spaces-landing-page .table_letter_border {
	    text-align: center;
	    border: none;
    }
    	
    .space-text {
	    text-align: center;
	    margin: 15px 0;
    }
}

