// LAYOUT

main {
	background: $soft_black;
}

article {
	padding-top: 5em;
	padding-bottom: 8em;

	p {
		margin-top: 30px;
	}
	a {
		font-weight: 700;
		text-decoration: underline;
	}
}

.jumbotron {
	background: $black;
	padding-top: 120px;

    h1 {
		color: $white;
		text-transform: uppercase;
		font-size: 54px;
		line-height: 1.6;
	}
}
