// LAYOUT

body {
    position: relative;
}
main {
	background: $soft_black;
}

article {
	padding-top: 5em;
	padding-bottom: 8em;

	p {
		margin-top: 30px;
	}
	a {
		font-weight: 700;
		text-decoration: underline;
	}
}

.jumbotron {
	background: $black;
	padding-top: 120px;

    h1 {
		color: $white;
		text-transform: uppercase;
		font-size: 54px;
		line-height: 1.6;
	}
}

.popover {
	border-radius: 0;
	background: #000;
	left: 15px;
	transition: opacity 0.5s ease-in-out;

    &.right {
        margin-left: 20px;
      
        .arrow:after {  
          border-right-color: #000;
        
        }
    }
    
    .popover-title {
        background: none;
    	color: white;
    	border: none;
    	font-weight: 100;
    	font-size: 18px;
    	padding: 8px 14px 0px 14px;
    }
    
    .popover-content {
    	color: white;
    	font-size: 11px;
    	margin-top: 0;
    	padding-top: 0px;
    	font-weight: 500;
    }
}
