// COLORS
$white:                 #FFFFFF;
$black:                 #000000;
$soft_black:            #28282A;
$grey:                  #BBBCBE;
$accent_color:          #FF0000;


// FONTS
$heading-font-stack:    'Helvetica Neue', Helvetica, Arial, sans-serif;
$p_font_stack:          'Helvetica Neue', Helvetica, Arial, sans-serif;
$display_font_stack:    'Helvetica Neue', Helvetica, Arial, sans-serif;


// TRANSITIONS
$transition:            0.5s all;