// TYPOGRAPHY

body {
	color: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-stack;
}


p {
	font-family: $p_font_stack;
	font-size: 18px;
	line-height: 2;
	font-weight: 100;
}
a {
	color: $accent_color;

	&:link, &:hover, &:active, &:focus {
		color: $accent_color;
	}
}