// COLORS
$white:         #ffffff;
$black:         #000000;
$soft_black:    #323133;
$grey:          #BBBCBE;
$light_grey:    #f1f2f2;

$accent_color:  #acd156; //lime green
$pink:          #ee2a76;
$light_pink:    #ee2a7b;
$yellow:        #edbe39;
$ecru:          #e4e1ce;
$blue:          #26a9e0;


// FONTS
$heading_font_stack:    'Courier New', Courier, 'Lucinda Sans Typewriter', monospace;
$p_font_stack:          'aktiv-grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$display_font_stack:    'tablet-gothic-compressed', 'Helvetica Neue', Helvetica, Arial, sans-serif;


// TRANSITION
$transition:            0.5s all;