#about-page {
	main {
		background: $white;
		color: #222;
	}

	p {
		line-height: 1.6;
		margin-top: 10px;
		margin-bottom: 25px;
	}

	h1 {
		font-weight: 300;
		margin-bottom: 40px;

	}

	h2 {
		font-weight: 100;
		margin-bottom: 10px;
	}
}