#venue-detail-page {
	main {
		background: $white;
		h1, h2, h3, h4, h5, h6, p {
			color: #222;
		}

		article {
			padding-bottom: none;
			p {
				line-height: 1.6;
			}
		}

		.image-placeholder {
			height: 300px;
			width: 300px;
			background: $black;
			margin: 10px 10px 30px 10px;
		}

		#map {
			margin-top: 20px;
			height: 300px;
			width: 360px;
		}

		.map-container {
			position: relative;
		}
		
		aside {
			color: #222;
			h4 {
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 700;
			}
			ul {
				list-style-type: disc;
				li {
					color: #222;
				}
				a {
					color: #222;
				}
			}
			
			.profile-caption {
				font-size: 14px;
			    font-style: italic;
			    color: #666;
			}
		}

		.grid-section {
			background: $black;
			margin-top: 5em;
			padding-top: 3em;
			padding-bottom: 6em;
		}
	}

	.btn {
		text-transform: uppercase;
	}

	#modal-button {
		color: $black;
		background: #222;
		position: absolute;
		bottom: 50px;
		left: 20px;
		z-index: 1050;

	}


	.modal {
		position: absolute;
		top: 5%;
		left: 13%;

		.modal-dialog {
			width: 850px;
		}

		.modal-content {
			background-color: $white;
			width: 850px;
		}
		.modal-header {
			border-bottom: none;
			padding: 0;
			min-height: initial;
			.close {
				margin-top: -20px;
				margin-right: -11px;
			}
		}
		.close {
			font-size: 30px;
			font-weight: 100;
			text-shadow: none;
			opacity: 1.0;
			background-color: $white;
			color: #222 !important;
			height: 30px;
			width: 30px;
			z-index: 1000;
			text-align: center;
			line-height: 0.8;

		}
		a {
			padding: 0;
			border: none;
			border-radius: 999px;
		}
		#overlayMap {
			height: 500px;
		}
		h4, p {
			color: #222;
		}
		.modal-header>#close {
			color: red;
			background: $black;
		}

	}
}

