#culture-detailcomments-page {
	main {
		background: $white;
	}

	h2 {
		margin-top: 0;
		font-family: $display_font_stack;
		color: $black;
		font-weight: 700;
		font-size: 44px;
		text-transform: uppercase;
		margin-right: -90px;
		padding-top: 80px;
		padding-bottom: 15px;
	}

	main h4 {
		color: $grey;
		font-family: $p_font_stack;
		//font-size: 20px;
		font-weight: 100;
		line-height: 1.6;
		//margin-left: 40px;
		//margin-right: 20px;
	}


	.grid {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.culture-detail-tags {
		border-top: 1px solid $light_grey;
		padding-top: 1em;
		padding-bottom: 8em;


		ul {
			margin-left: -40px;
			li  {
			display: inline-block;
			margin-right: 40px;
				p {
				color: $black;
				display: inline-block;
					a {
						color: $accent_color;
						font-size: 14px;
						font-weight: 500;
						margin-right: 10px;
					}
				}
			.tag-type {
				color: $black;
				font-size: 14px;
				margin-right: 10px;
			}
		}


		}
	}

	#comments {
		background: $ecru;

		#comments-container {
			margin-top: -3.7em;
			margin-bottom: 5em;
			background: $white;
			border: 5px solid rgba(170, 170, 170, 0.3);
			padding-bottom: 30px; 
			background-clip: padding-box;
			-webkit-background-clip: padding;
			-moz-background-clip: padding;
		}

		.comments-header {
			padding-top: 30px;
			padding-bottom: 40px;

			h3, h5 {
				text-align: center;
				color: $black;
			}

			h5 {
				display: inline-block;
				text-transform: uppercase;
				font-size: 18px;
				font-family: $display_font_stack;
				font-weight: 700;
			}
			h3 {
				font-weight: 100;
			}

			svg {
				display: inline-block;
				width: 30px;
				padding-left: 8px;
				padding-right: 8px;
				&:nth-of-type(1){
					margin-left: 33%;
				}
			}
		}

		
		.comments-header-border {
			border-bottom: 2px solid $light_grey;
			margin-left: -15px;
			margin-right: -15px;
		}

		.comments-body {
			padding-bottom: 30px;
			img {
				margin: 40px 10px 10px 10px;
			}

			h5 {
				font-family: $p_font_stack;
				color: $black;
				font-size: 16px;
				font-weight: 600;
				margin-top: 40px;
				margin-left: 10px;
			}

			p {
				font-family: $p_font_stack;
				color: $black;
				font-size: 14px;
				line-height: 1.6;
				margin-left: 10px;
			}

			textarea {
				margin: 40px 10px 10px 10px;
			}

			.comment-detail {
				padding-bottom: 30px;
				
			}

			.testing {
				padding-top: 15px;
				border-bottom: 1px solid #ccc;
			}
		}

	}


}