#culture-landing-page {

	body {
		background: $white;
	}

	h2 {
		font-family: $display_font_stack;
		color: $black;
		font-weight: 700;
		font-size: 44px;
		text-transform: uppercase;
		margin-left: 40px;
		margin-top: 50px;
	}

	.jumbotron h4 {
		color: $grey;
		font-family: $p_font_stack;
		margin-left: 40px;
		font-weight: 100;
		line-height: 1.6;
	}

	.jumbotron {
		background: $white;
		margin-bottom: 0;
		padding-bottom: 4em;
	}

	.subnav {
		border-bottom: 1px solid $light_grey;
		
		ul {
			text-align: center;
				li {
					display: inline-block;
					font-size: 16px;
					margin-left: 1em;
					margin-right: 1em;
					transition: color 0.25s ease-in-out;
					a {
						color: $grey;
						&:link {
							color: $grey;
						}
						&:hover {
							color: $black;
							text-decoration: none;
						}
					}
				}
			}

		}

	#active-page {
		color: $accent_color;
		position: relative;
		&:after {
			content: url(../images/filled-star-green.svg);
			position: absolute;
			width: 20px;
			bottom: -27px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
		}
	}

	section {
		background: $white;
		padding-bottom: 6.5em;
	}

	.grid {
		background: $white;
		
	}

	}

