#timeline-page {

	* {
		-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
         box-sizing: border-box;
		}
	
	h2 {
			font-family: $display_font_stack;
			font-weight: 700;
			font-size: 4.5em;
			text-transform: uppercase;
			margin-bottom: 10px;
			text-align: center;
		}

	h4 {
			font-size: 20px;
			font-weight: 400;
			line-height: 2;
			text-align: center;
		}

	p {
		font-size: 24px;
		font-weight: 100;
		line-height: 1.5;
	}

	.star-group {
		margin-top: 30px;
		position: relative;
	}

	.star-group-underline {
		width: 75px;
		height: 5px;
		margin-top: 10px;
		border-radius: 10px;
		background: $white;
	}

	#underline_1 {
		position: absolute;
		bottom: -10px;
		left: 45%;
	}

	#underline_2 {
		position: absolute;
		bottom: -20px;
		left: 45%;
	}

	svg {
		display: inline-block;
		width: 25px;
		fill: $white;
	}

	.jumbotron {
		text-align: center;
		margin-bottom: 0;
		z-index: 1050;
		h2 {
			margin-bottom: 30px;
		}

	}

	section {
		padding-top: 5%;
		padding-bottom: 7%;
		&:nth-of-type(odd) {
			background: #404040;
		}
		h2 {
			font-family: $heading_font_stack;
			font-weight: 300;
			letter-spacing: -5px;
		}
		h4 {
			font-family: $p_font_stack;
			font-weight: 700;
		}
		p {
			font-weight: 100;
		}
	}
	
html,body{height:100%;}
section{min-height:100%;}

.affix-top {
    top: 100%; 
	right: 0;
	position:absolute;
	z-index:2;
}
.affix {
    top: 50%;
	right: 0;
	z-index:2;
}

#mainContainer {height:100%;}

#dotNav {
	z-index: 5;
	left: 1%;
	padding: 7px;
	padding-top: 12px;
	display: none;
}
#dotNav ul {
	list-style: none;
	margin:0;
}
#dotNav li {
	position: relative;
	background: none repeat scroll 0 0 #cccccc;
	border:1px solid #aaaaaa;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	height: 12px;
	margin: 10px 10px 0px 0px;
	width: 12px;
	vertical-align:bottom;
}
#dotNav li.active {
	background-color: #ffffff;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
	background-repeat: repeat-x;
}
#dotNav li:hover {
	background: none repeat scroll 0 0 $accent_color;
}
#dotNav a {
	outline: 0;
	vertical-align:top;
	margin: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}

/* popovers */

.popover {
	border-radius: 0;
	background: #000;
	left: 15px;
	transition: opacity 0.5s ease-in-out;

}

.popover.right .arrow:after {  
  border-right-color: #000;

}

.popover.right {
  margin-left: 20px;
}


.popover-title {
	background: #000;
	color: #999;
	border: none;
	font-weight: 100;
	font-size: 18px;
	padding: 8px 14px 0px 14px;
}

.popover-content {
	background: #000;
	font-size: 11px;
	margin-top: 0;
	padding-top: 0px;
	font-weight: 500;
}

/* end popover styles */

}