#timeline-page {
    .jumbotron {
        background: $black url(../images/timeline-background.jpg) no-repeat center center;
        background-size: cover;
    }

    #dotNav {
        ul {
            li {
            	background: none repeat scroll 0 0 #BBBCBE;
        
                &.active, &.active:hover {
                	background-color: $accent_color;
                }
                &:hover {
                	background: none repeat scroll 0 0 $white;
                }
            }
        }
    }
}
