body {
  color: #FFFFFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  font-size: 18px;
  line-height: 2.1;
  font-weight: 300; }

a {
  color: #FF0000; }
  a:link, a:hover, a:active, a:focus {
    color: #FF0000; }

body {
  position: relative; }

main {
  background: #28282A; }

article {
  padding-top: 5em;
  padding-bottom: 8em; }
  article p {
    margin-top: 30px; }
  article a {
    font-weight: 700;
    text-decoration: underline; }

.front .jumbotron {
	height: 650px;
}

.front .jumbotron h1{
	font-size: 140px;
	margin-bottom: 50px;
	line-height: 1;
}
.jumbotron {
  background: #000000;
  padding-top: 120px;
  }
  .jumbotron h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 54px;
    line-height: 1.6; }
  .jumbotron .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 720px;
    overflow: hidden;
    z-index: 1; }
  .jumbotron .container {
    position: relative;
    z-index: 2; }

.popover {
  border-radius: 0;
  background: #000;
  left: 15px;
  transition: opacity 0.5s ease-in-out; }
  .popover.right {
    margin-left: 20px; }
    .popover.right .arrow:after {
      border-right-color: #000; }
  .popover .popover-title {
    background: none;
    color: white;
    border: none;
    font-weight: 100;
    font-size: 18px;
    padding: 8px 14px 0px 14px; }
  .popover .popover-content {
    color: white;
    font-size: 11px;
    margin-top: 0;
    padding-top: 0px;
    font-weight: 500; }

.grid {
  margin-left: 70px;
  margin-right: 70px; }
  .grid .grid-item {
    width: 225px;
    height: 225px;
    position: relative;
    float: left;
    border: none;
    margin: 15px;
    overflow: hidden; }
    .grid .grid-item:hover .overlay-content {
      opacity: 1; }
    .grid .grid-item img {
      width: 105%;
      height: auto; }
    .grid .grid-item .overlay-content {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      display: block;
      padding: 25px;
      opacity: 0;
      transition: 0.5s all; }
    .grid .grid-item .year {
      position: relative;
      font-size: 18px;
      color: #FFFFFF;
      font-weight: 600;
      letter-spacing: 1px; }
    .grid .grid-item .caption {
      position: relative;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 100;
      line-height: 1.4; }
    .grid .grid-item a {
      display: block; }
  .grid .grid-item--rectangle {
    width: 480px; }
  .grid .grid-item--lg-square {
    width: 480px;
    height: 480px; }
    .grid .grid-item--lg-square .overlay-content {
      padding: 30px; }
      .grid .grid-item--lg-square .overlay-content .caption {
        font-size: 42px; }
  .grid .grid-item--horizontal {
    width: 225px;
    height: 480px; }

.btn {
  border-radius: 0;
  border: 4px solid #FF0000;
  color: #FF0000;
  background: transparent; }
  .btn + .btn {
    margin-left: 15px; }

.btn-primary {
  border-color: #f1f2f2; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #FF0000;
    border-color: #FF0000;
    color: #000000;
    box-shadow: none; }

.btn-group-lg > .btn,
.btn-lg {
  text-transform: uppercase;
  font-size: 18px;
  padding: 9px 18px; }

header .navbar {
  margin-bottom: 0;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 999999999;
  border: none;
  max-height: 80px;
  height: 80px; }
header .navbar-brand {
  color: #FFFFFF !important;
  text-transform: uppercase;
  font-size: 36px;
  margin-left: 0px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
  transition: 0.5s all; }
  header .navbar-brand:hover {
    opacity: 0.65; }
header .navbar-nav {
  margin-left: 50px;
  text-transform: uppercase; }
  header .navbar-nav li {
    margin: 0 15px; }
    header .navbar-nav li > a {
      padding: 28px 0 32px;
      color: #BBBCBE;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      position: relative;
      transition: 0.5s all;
      bottom: 0; }
      header .navbar-nav li > a:after {
        content: '';
        border-bottom: 2px solid transparent;
        position: absolute;
        width: 100%;
        left: 0; }
      header .navbar-nav li > a:hover {
        bottom: 10px; }
        header .navbar-nav li > a:hover:after {
          border-bottom: 2px solid #FF0000; }
        header .navbar-nav li > a:hover svg {
          fill: white; }
  header .navbar-nav svg {
    fill: #BBBCBE;
    width: 16px;
    height:16px;
    transition: fill 0.25s ease-in-out; }
  header .navbar-nav #search-link:hover {
    bottom: 0; }
    header .navbar-nav #search-link:hover:after {
      content: ''; }

footer {
  background: #000000; }
  footer .divider {
    border-bottom: 1px solid #28282A; }
  footer .footer-nav {
    margin: 0;
    padding: 0;
    text-align: center; }
    footer .footer-nav li {
      display: inline-block;
      margin: 0 15px; }
      footer .footer-nav li > a {
        color: #BBBCBE;
        font-weight: 700;
        padding: 22px 0;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        transition: 0.5s all; }
        footer .footer-nav li > a:hover, footer .footer-nav li > a:focus, footer .footer-nav li > a:active {
          color: white;
          text-decoration: none; }
  footer #logo {
    opacity: 0.7;
    transition: opacity 0.25s ease-in-out;
    margin-bottom: 10px; }
    footer #logo:hover {
      opacity: 1.0; }
  footer .address-block {
    margin: 40px 0;
    text-align: center;
    font-size: 16px; }
    footer .address-block ul {
      margin: 0;
      padding: 0; }
    footer .address-block li {
      display: inline-block;
      margin: 0px 12px; }
    footer .address-block a {
      color: #FFFFFF;
      font-weight: 500; }
  footer .copyright {
    font-size: 16px;
    margin-bottom: 0; }
    footer .copyright small {
      color: #BBBCBE;
      font-weight: 300; }

#audioplayer {
  float: right;
  width: 275px;
  height: 60px;
  background-color: black;
  margin-top: 10px;
  position: relative; }
  #audioplayer h6 {
    margin-bottom: 3px;
    font-size: 14px;
    margin-left: 15px;
    float: left; }
  #audioplayer h2 {
    font-weight: 300;
    margin-top: 3px;
    margin-bottom: 0;
    float: left;
    margin-left: 15px;
    text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…"  }

.album-cover-placeholder {
  width: 60px;
  height: 60px;
  background: red;
  float: left;
  position: relative; }

.album-cover-placeholder-big {
  width: 100px;
  height: 100px;
  background: red;
  float: left;
  position: relative; }

#nowPlay {
  position: absolute;
  bottom: 15%;
  left: 25%; }

#playButton, #pauseButton {
  position: absolute;
  bottom: 33%;
  right: 38%;
  opacity: 0.7; }

#btnNext {
  float: right;
  margin-right: 2em;
  margin-top: 2em;
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px 7px 10px 12px; }

#npTitle {
  color: #222; }
  #npTitle h3 {
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 230px;
    display: block;
    overflow: hidden;
    margin:0px; }
    
.divider {
	border-bottom: 1px solid #323133;
}

#npBand {
  color: #222;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
  display: block; 
  overflow: hidden; }

#timeline-page h2 {
  font-size: 4.8em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -5px;
  margin-bottom: 0; }
#timeline-page h5 {
  font-size: 21px;
  font-weight: 700;
  text-align: center; }
#timeline-page p {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.8; }
#timeline-page .jumbotron {
  text-align: center;
  margin-bottom: 0;
  z-index: 1050; }
  #timeline-page .jumbotron h3 {
    margin-bottom: 30px; }
#timeline-page section {
  padding-top: 5%;
  padding-bottom: 7%;
  color: white; }
  
  #timeline-page section:nth-of-type(odd) {
    background: #343437; }
  #timeline-page section:nth-of-type(even) {
    background: #28282A; }
    #timeline-page section p {
	  color: #bbb; }
#timeline-page .affix-top {
  top: 100%;
  right: 0;
  position: absolute;
  z-index: 2; }
#timeline-page .affix {
  top: 45%;
  right: 0;
  z-index: 2; }
#timeline-page #mainContainer {
  height: 100%; }
#timeline-page #dotNav {
  z-index: 5;
  left: 30px;
  padding: 0;
  width: 12px; }
  #timeline-page #dotNav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #timeline-page #dotNav ul li {
      position: relative;
      background: none repeat scroll 0 0 #BBBCBE;
      border: none;
      border-radius: 99px;
      cursor: pointer;
      height: 12px;
      margin: 10px 10px 0px 0px;
      width: 12px;
      vertical-align: bottom; }
      #timeline-page #dotNav ul li.active, #timeline-page #dotNav ul li.active:hover {
        background-color: #FF0000; }
      #timeline-page #dotNav ul li:hover {
        background: none repeat scroll 0 0 #FFFFFF; }
    #timeline-page #dotNav ul a, #timeline-page #dotNav ul a:hover, #timeline-page #dotNav ul a:focus {
      outline: 0;
      vertical-align: top;
      margin: 0px 0px 0px 25px;
      position: relative;
      top: -5px;
      padding: 0;
      background: none; }

#culture-landing-page body {
  background: #FFFFFF; }
#culture-landing-page h2 {
  color: #222;
  font-weight: 100;
  font-size: 44px;
  margin-left: 40px;
  margin-top: 50px; }
#culture-landing-page h4 {
  color: #000000;
  margin-left: 40px;
  font-weight: 100;
  line-height: 1.6; }
#culture-landing-page .jumbotron {
  background: #FFFFFF;
  margin-bottom: 0;
  padding-bottom: 4em; }
#culture-landing-page .subnav {
  border-bottom: 1px solid #dedede; }
  #culture-landing-page .subnav ul {
    text-align: center; }
    #culture-landing-page .subnav ul li {
      display: inline-block;
      font-size: 16px;
      margin-left: 1em;
      margin-right: 1em;
      transition: color 0.25s ease-in-out; }
      #culture-landing-page .subnav ul li a {
        color: #000000; }
        #culture-landing-page .subnav ul li a:link {
          color: #000000; }
        #culture-landing-page .subnav ul li a:hover {
          color: #000;
          text-decoration: none; }
#culture-landing-page #active-page {
  color: #000; }
#culture-landing-page section {
  background: #FFFFFF;
  padding-bottom: 6.5em; }
#culture-landing-page .grid {
  background: #FFFFFF; }

#culture-detailcomments-page main {
  background: #FFFFFF; }
#culture-detailcomments-page h2 {
  margin-top: 0;
  padding-bottom: 15px;
  font-weight: 100;
  font-size: 36px;
  color: #222; }
#culture-detailcomments-page h4 {
  color: #222;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.6;
  margin-right: 20px; }
#culture-detailcomments-page .grid {
  padding-top: 2em;
  padding-bottom: 4em; }
#culture-detailcomments-page .culture-detail-tags {
  border-top: 1px solid #000000;
  padding-top: 1em; }
  #culture-detailcomments-page .culture-detail-tags ul {
    margin-left: -40px; }
    #culture-detailcomments-page .culture-detail-tags ul li {
      display: inline-block;
      margin-right: 40px; }
      #culture-detailcomments-page .culture-detail-tags ul li p {
        color: #222;
        display: inline-block; }
        #culture-detailcomments-page .culture-detail-tags ul li p a {
          color: #222;
          font-size: 14px;
          font-weight: 500;
          margin-right: 10px; }
      #culture-detailcomments-page .culture-detail-tags ul li .tag-type {
        color: #000000;
        font-size: 14px;
        margin-right: 10px; }
#culture-detailcomments-page #comments {
  background: #000000; }
  #culture-detailcomments-page #comments #comments-container {
    margin-top: 4em;
    margin-bottom: 5em;
    background: #FFFFFF;
    border: 2px solid #ccc;
    padding-bottom: 30px; }
  #culture-detailcomments-page #comments .comments-header {
    padding-top: 30px;
    padding-bottom: 40px; }
    #culture-detailcomments-page #comments .comments-header h3, #culture-detailcomments-page #comments .comments-header h5 {
      text-align: center;
      color: #222; }
    #culture-detailcomments-page #comments .comments-header h5 {
      text-transform: uppercase;
      font-size: 16px; }
    #culture-detailcomments-page #comments .comments-header h3 {
      font-weight: 100; }
  #culture-detailcomments-page #comments .comments-header-border {
    border-bottom: 1px solid #ccc;
    margin-left: -15px;
    margin-right: -15px; }
  #culture-detailcomments-page #comments .comments-body {
    padding-bottom: 30px; }
    #culture-detailcomments-page #comments .comments-body img {
      margin: 40px 10px 10px 10px; }
    #culture-detailcomments-page #comments .comments-body h5 {
      font-size: 16px;
      color: #222;
      font-weight: 600;
      margin-top: 40px;
      margin-left: 10px; }
    #culture-detailcomments-page #comments .comments-body p {
      color: #222;
      font-size: 14px;
      line-height: 1.6;
      margin-left: 10px; }
    #culture-detailcomments-page #comments .comments-body textarea {
      margin: 40px 10px 10px 10px; }
    #culture-detailcomments-page #comments .comments-body .comment-detail {
      padding-bottom: 30px; }
    #culture-detailcomments-page #comments .comments-body .testing {
      padding-top: 15px;
      border-bottom: 1px solid #ccc; }

#spaces-landing-page body {
  background: #FFFFFF; }
#spaces-landing-page h2 {
  color: #222;
  font-weight: 100;
  font-size: 44px;
  margin-left: 40px;
  margin-top: 50px; }
#spaces-landing-page h4 {
  color: #000000;
  margin-left: 40px;
  font-weight: 100;
  line-height: 1.6; }
#spaces-landing-page .jumbotron {
  background: #FFFFFF;
  margin-bottom: 0;
  padding-bottom: 4em; }
#spaces-landing-page .subnav {
  border-bottom: 1px solid #dedede; }
  #spaces-landing-page .subnav ul {
    text-align: center; }
    #spaces-landing-page .subnav ul li {
      display: inline-block;
      font-size: 16px;
      margin-left: 1em;
      margin-right: 1em;
      transition: color 0.25s ease-in-out; }
      #spaces-landing-page .subnav ul li a {
        color: #000000; }
        #spaces-landing-page .subnav ul li a:link {
          color: #000000; }
        #spaces-landing-page .subnav ul li a:hover {
          color: #000;
          text-decoration: none; }
#spaces-landing-page #active-page {
  color: #000; }
#spaces-landing-page section {
  background: #FFFFFF;
  padding-bottom: 6.5em; }
#spaces-landing-page table {
  margin: 10px 0px; }
  #spaces-landing-page table td, #spaces-landing-page table a {
    color: #222;
    font-size: 20px;
    font-weight: 300; }
  #spaces-landing-page table a {
    font-weight: 600; }
    #spaces-landing-page table a:link {
      color: #222; }
    #spaces-landing-page table a:hover {
      color: #222; }
#spaces-landing-page .table > tbody > tr > td {
  padding: 40px 5px; }
#spaces-landing-page .table > tbody > tr > .table_letter {
  font-family: "sketchnote-square",sans-serif;
  font-size: 48px;
  font-weight: 100;
  padding: 20px 10px; }
#spaces-landing-page p {
  text-align: center; }
  #spaces-landing-page p small {
    color: #000000;
    font-style: italic; }
  #spaces-landing-page p a {
    color: #222;
    font-weight: 700; }
    
#spaces-landing-page #map {
  height: 600px; }
#spaces-landing-page .marker-star {
  content: url(../images/filled-star.svg);
  width: 5px;
  position: absolute;
  bottom: 0; }
#spaces-landing-page #legend {
  position: absolute;
  bottom: 35px;
  left: 35px;
  z-index: 999;
  width: auto;
  height: 110px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(120, 120, 120, 0.5); }
  #spaces-landing-page #legend ul {
    margin-top: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important; }
  #spaces-landing-page #legend svg {
    width: 15px; }
  #spaces-landing-page #legend #venue_marker {
    fill: #000000; }
  #spaces-landing-page #legend #record_store_marker {
    fill: #000000; }
  #spaces-landing-page #legend #studios_marker {
    fill: #000000; }
  #spaces-landing-page #legend #houses_marker {
    fill: #000000; }
  #spaces-landing-page #legend > ul > li {
    list-style-type: none;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700; }
#spaces-landing-page .copyright small {
  font-size: 12px;
  font-style: initial; }

#venue-detail-page main {
  background: #FFFFFF; }
  #venue-detail-page main .breadcrumbs a {
	  color: #999; }
  #venue-detail-page main h1, #venue-detail-page main h2, #venue-detail-page main h3, #venue-detail-page main h4, #venue-detail-page main h5, #venue-detail-page main h6, #venue-detail-page main p {
    color: #222; }
  #venue-detail-page main article {
    padding-bottom: none; }
    #venue-detail-page main article p {
      line-height: 1.6; }
  #venue-detail-page main .image-placeholder {
    height: 300px;
    width: 300px;
    background: #000000;
    margin: 10px 10px 30px 10px; }
  #venue-detail-page main #map {
    margin-top: 10px;
    height: 300px;
    width: 360px; }
  #venue-detail-page main .map-container {
    position: relative; }
  #venue-detail-page main aside {
    color: #222; }
    #venue-detail-page main aside h4 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700; }
    #venue-detail-page main aside .profile-caption {
		font-size: 14px;
	    font-style: italic;
	    color: #666;
	}
    #venue-detail-page main aside ul {
      list-style-type: disc; }
      #venue-detail-page main aside ul li {
        color: #222; }
      #venue-detail-page main aside ul a {
        color: #222; }
  #venue-detail-page main .grid-section {
    background: #000000;
    margin-top: 5em;
    padding-top: 3em;
    padding-bottom: 6em; }
#venue-detail-page .btn {
  text-transform: uppercase; }
#venue-detail-page #modal-button {
  color: #000000;
  background: #222;
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 1050; }
#venue-detail-page .modal {
  position: absolute;
  top: 5%;
  left: 13%; }
  #venue-detail-page .modal .modal-dialog {
    width: 850px; }
  #venue-detail-page .modal .modal-content {
    background-color: #FFFFFF;
    width: 850px; }
  #venue-detail-page .modal .modal-header {
    border-bottom: none;
    padding: 0;
    min-height: initial; }
    #venue-detail-page .modal .modal-header .close {
      margin-top: -20px;
      margin-right: -11px; }
  #venue-detail-page .modal .close {
    font-size: 30px;
    font-weight: 100;
    text-shadow: none;
    opacity: 1.0;
    background-color: #FFFFFF;
    color: #222 !important;
    height: 30px;
    width: 30px;
    z-index: 1000;
    text-align: center;
    line-height: 0.8; }
  #venue-detail-page .modal a {
    padding: 0;
    border: none;
    border-radius: 999px; }
  #venue-detail-page .modal #overlayMap {
    height: 500px; }
  #venue-detail-page .modal h4, #venue-detail-page .modal p {
    color: #222; }
  #venue-detail-page .modal .modal-header > #close {
    color: red;
    background: #000000; }

#contribute-page main {
  background: #fff;
  padding-top: 50px; }
  #contribute-page main h1 {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #222;
    font-weight: 100; }
  #contribute-page main p {
    color: #000000;
    line-height: 1.6;
    padding-bottom: 30px; }
  #contribute-page main form {
    margin-bottom: 60px; }
  #contribute-page main .form-group {
    margin-bottom: 30px; }
  #contribute-page main #inputEmail, #contribute-page main #contribution-type {
    height: 50px; }
  #contribute-page main #inputEmail, #contribute-page main #contribution-type, #contribute-page main #description {
    border: 1px solid transparent;
    background-color: #FFFFFF;
    box-shadow: none; }
  #contribute-page main .form-control {
    height: 50px; }
  #contribute-page main #description {
    height: 200px; }
  #contribute-page main label {
    color: #222;
    font-size: 16px; }
  #contribute-page main input, #contribute-page main select, #contribute-page main textarea {
    font-size: 18px;
    font-weight: 300;
    padding-left: 15px; }
  #contribute-page main button[type=submit] {
    padding: 15px 50px;
    margin-top: 30px;
    margin-left: 40%;
    color: #222;
    border: 2px solid #222;
    font-size: 14px;
    text-transform: uppercase; }
  #contribute-page main .btn {
    border-radius: 0;
    border: 2px solid transparent;
    color: #000000;
    background: #FFFFFF;
    font-size: 18px;
    font-weight: 300; }
  #contribute-page main .btn .dropdown-toggle .btn-default:focus {
    outline-color: transparent; }
  #contribute-page main .btn .dropdown-toggle .btn-default:active {
    outline-color: transparent; }
  #contribute-page main .dropdown-menu {
    font-size: 18px; }
    #contribute-page main .dropdown-menu .innner:focus {
      outline-color: transparent; }
  #contribute-page main .dropdown-menu > li > a {
    font-weight: 300; }
    #contribute-page main .dropdown-menu > li > a:focus {
      outline-color: #FFFFFF; }
  #contribute-page main .dropdown-menu li .selected:focus {
    outline-color: transparent; }
  #contribute-page main .bootstrap-select .dropdown-toggle:focus {
    outline-color: #FFFFFF !important; }

#search-page main {
  background: #fff;
  color: #222;
  padding-top: 6em;
  padding-bottom: 8em; }
#search-page h1 {
  font-weight: 300;
  padding-bottom: 20px; }
#search-page h3 {
  font-weight: 100;
  display: inline-block; }
#search-page h3 a:hover{
  text-decoration: none; }
#search-page h4 {
  margin-top: 40px; }
#search-page p {
  line-height: 1.6;
  margin-top: 0; }
#search-page svg {
  fill: #222;
  width: 16px;
  transition: fill 0.25s ease-in-out; }
  #search-page svg:link {
    fill: #222; }
  #search-page svg:hover {
    fill: #222; }
#search-page .form-control {
  height: 50px;
    background: #f1f2f2;
    border: 1px solid #e4e6e6;
    border-radius: 6px;
    padding: 6px 14px 8px;
    box-shadow: none;
    width: 100%;
    transition: all 0.25s;
    font-size: 16px;
    font-weight: 300; }
#search-page .btn {
  background: #FFFFFF;
  height: 50px;
  border: 2px solid #585956;
  border-left: none; }
#search-page button {
  margin-bottom: 40px; }
#search-page .search-result-heading h5 {
  display: inline-block;
  margin-left: 20px; }
#search-page .search-result-arrow p {
  margin-top: 100%;
  margin-left: 50%;
  color: #000000; }

/*# sourceMappingURL=main.css.map */
