#timeline-page {
  /* popovers */
  /* end popover styles */ }
  #timeline-page * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #timeline-page h2 {
    font-family: "tablet-gothic-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 4.5em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center; }
  #timeline-page h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    text-align: center; }
  #timeline-page p {
    font-size: 24px;
    font-weight: 100;
    line-height: 1.5; }
  #timeline-page .star-group {
    margin-top: 30px;
    position: relative; }
  #timeline-page .star-group-underline {
    width: 75px;
    height: 5px;
    margin-top: 10px;
    border-radius: 10px;
    background: #fff; }
  #timeline-page #underline_1 {
    position: absolute;
    bottom: -10px;
    left: 45%; }
  #timeline-page #underline_2 {
    position: absolute;
    bottom: -20px;
    left: 45%; }
  #timeline-page svg {
    display: inline-block;
    width: 25px;
    fill: #fff; }
  #timeline-page .jumbotron {
    text-align: center;
    margin-bottom: 0;
    z-index: 1050; }
    #timeline-page .jumbotron h2 {
      margin-bottom: 30px; }
  #timeline-page section {
    padding-top: 5%;
    padding-bottom: 7%; }
    #timeline-page section:nth-of-type(odd) {
      background: #404040; }
    #timeline-page section h2 {
      font-family: "Courier New", Courier, "Lucinda Sans Typewriter", monospace;
      font-weight: 300;
      letter-spacing: -5px; }
    #timeline-page section h4 {
      font-family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700; }
    #timeline-page section p {
      font-weight: 100; }
  #timeline-page html, #timeline-page body {
    height: 100%; }
  #timeline-page section {
    min-height: 100%; }
  #timeline-page .affix-top {
    top: 100%;
    right: 0;
    position: absolute;
    z-index: 2; }
  #timeline-page .affix {
    top: 50%;
    right: 0;
    z-index: 2; }
  #timeline-page #mainContainer {
    height: 100%; }
  #timeline-page #dotNav {
    z-index: 5;
    left: 1%;
    padding: 7px;
    padding-top: 12px;
    display: none; }
  #timeline-page #dotNav ul {
    list-style: none;
    margin: 0; }
  #timeline-page #dotNav li {
    position: relative;
    background: none repeat scroll 0 0 #cccccc;
    border: 1px solid #aaaaaa;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    height: 12px;
    margin: 10px 10px 0px 0px;
    width: 12px;
    vertical-align: bottom; }
  #timeline-page #dotNav li.active {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(center top, #FFFFFF, #EEEEEE);
    background-repeat: repeat-x; }
  #timeline-page #dotNav li:hover {
    background: none repeat scroll 0 0 #acd156; }
  #timeline-page #dotNav a {
    outline: 0;
    vertical-align: top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top: -5px; }
  #timeline-page .popover {
    border-radius: 0;
    background: #000;
    left: 15px;
    transition: opacity 0.5s ease-in-out; }
  #timeline-page .popover.right .arrow:after {
    border-right-color: #000; }
  #timeline-page .popover.right {
    margin-left: 20px; }
  #timeline-page .popover-title {
    background: #000;
    color: #999;
    border: none;
    font-weight: 100;
    font-size: 18px;
    padding: 8px 14px 0px 14px; }
  #timeline-page .popover-content {
    background: #000;
    font-size: 11px;
    margin-top: 0;
    padding-top: 0px;
    font-weight: 500; }

.grid {
  margin-left: 70px;
  margin-right: 70px; }
  .grid img {
    width: 105%; }
  .grid .zoomed-in-150 {
    width: 150%; }
  .grid .zoomed-in-175 {
    width: 175%;
    margin-left: -80px; }

.grid-item {
  width: 225px;
  height: 225px;
  position: relative;
  overflow: hidden;
  float: left;
  border: 2px solid transparent;
  margin: 15px; }
  .grid-item .lyrics {
    position: absolute;
    bottom: 30px;
    left: 15%; }
    .grid-item .lyrics p {
      color: #333;
      font-weight: 100;
      font-size: 28px; }
      .grid-item .lyrics p:nth-of-type(even) {
        padding-left: 35px; }
  .grid-item .year {
    position: absolute;
    top: 25px;
    left: 5%; }
    .grid-item .year p {
      font-size: 18px;
      color: #fff;
      font-weight: 600; }
  .grid-item .caption {
    position: absolute;
    top: 65px;
    right: 20%;
    left: 5%; }
    .grid-item .caption p {
      font-family: "Courier New", Courier, "Lucinda Sans Typewriter", monospace;
      color: #fff;
      font-size: 28px;
      font-weight: 100;
      line-height: 1.4; }

.grid-item--poster {
  height: 325px; }

.grid-item--rectangle {
  width: 480px; }

.grid-item--lg-square {
  width: 480px;
  height: 480px; }

.grid-item--portrait-rectangle {
  width: 225px;
  height: 480px; }

#culture-landing-page body {
  background: #fff; }
#culture-landing-page h2 {
  font-family: "tablet-gothic-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #231f20;
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-top: 50px; }
#culture-landing-page .jumbotron h4 {
  color: #585956;
  font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 40px;
  font-weight: 100;
  line-height: 1.6; }
#culture-landing-page .jumbotron {
  background: #fff;
  margin-bottom: 0;
  padding-bottom: 4em; }
#culture-landing-page .subnav {
  border-bottom: 1px solid #dedede; }
  #culture-landing-page .subnav ul {
    text-align: center; }
    #culture-landing-page .subnav ul li {
      display: inline-block;
      font-size: 16px;
      margin-left: 1em;
      margin-right: 1em;
      transition: color 0.25s ease-in-out; }
      #culture-landing-page .subnav ul li a {
        color: #585956; }
        #culture-landing-page .subnav ul li a:link {
          color: #585956; }
        #culture-landing-page .subnav ul li a:hover {
          color: #231f20;
          text-decoration: none; }
#culture-landing-page #active-page {
  color: #acd156;
  position: relative; }
  #culture-landing-page #active-page:after {
    content: url(../images/filled-star-green.svg);
    position: absolute;
    width: 20px;
    bottom: -27px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }
#culture-landing-page section {
  background: #fff;
  padding-bottom: 6.5em; }
#culture-landing-page .grid {
  background: #fff; }

#culture-detailcomments-page main {
  background: #fff; }
#culture-detailcomments-page h2 {
  margin-top: 0;
  font-family: "tablet-gothic-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #231f20;
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
  margin-right: -90px;
  padding-top: 80px;
  padding-bottom: 15px; }
#culture-detailcomments-page main h4 {
  color: #585956;
  font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.6; }
#culture-detailcomments-page .grid {
  padding-top: 2em;
  padding-bottom: 2em; }
#culture-detailcomments-page .culture-detail-tags {
  border-top: 1px solid #dedede;
  padding-top: 1em;
  padding-bottom: 8em; }
  #culture-detailcomments-page .culture-detail-tags ul {
    margin-left: -40px; }
    #culture-detailcomments-page .culture-detail-tags ul li {
      display: inline-block;
      margin-right: 40px; }
      #culture-detailcomments-page .culture-detail-tags ul li p {
        color: #231f20;
        display: inline-block; }
        #culture-detailcomments-page .culture-detail-tags ul li p a {
          color: #acd156;
          font-size: 14px;
          font-weight: 500;
          margin-right: 10px; }
      #culture-detailcomments-page .culture-detail-tags ul li .tag-type {
        color: #231f20;
        font-size: 14px;
        margin-right: 10px; }
#culture-detailcomments-page #comments {
  background: #e4e1ce; }
  #culture-detailcomments-page #comments #comments-container {
    margin-top: -3.7em;
    margin-bottom: 5em;
    background: #fff;
    border: 5px solid rgba(170, 170, 170, 0.3);
    padding-bottom: 30px;
    background-clip: padding-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding; }
  #culture-detailcomments-page #comments .comments-header {
    padding-top: 30px;
    padding-bottom: 40px; }
    #culture-detailcomments-page #comments .comments-header h3, #culture-detailcomments-page #comments .comments-header h5 {
      text-align: center;
      color: #231f20; }
    #culture-detailcomments-page #comments .comments-header h5 {
      display: inline-block;
      text-transform: uppercase;
      font-size: 18px;
      font-family: "tablet-gothic-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700; }
    #culture-detailcomments-page #comments .comments-header h3 {
      font-weight: 100; }
    #culture-detailcomments-page #comments .comments-header svg {
      display: inline-block;
      width: 30px;
      padding-left: 8px;
      padding-right: 8px; }
      #culture-detailcomments-page #comments .comments-header svg:nth-of-type(1) {
        margin-left: 33%; }
  #culture-detailcomments-page #comments .comments-header-border {
    border-bottom: 2px solid #dedede;
    margin-left: -15px;
    margin-right: -15px; }
  #culture-detailcomments-page #comments .comments-body {
    padding-bottom: 30px; }
    #culture-detailcomments-page #comments .comments-body img {
      margin: 40px 10px 10px 10px; }
    #culture-detailcomments-page #comments .comments-body h5 {
      font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #231f20;
      font-size: 16px;
      font-weight: 600;
      margin-top: 40px;
      margin-left: 10px; }
    #culture-detailcomments-page #comments .comments-body p {
      font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #231f20;
      font-size: 14px;
      line-height: 1.6;
      margin-left: 10px; }
    #culture-detailcomments-page #comments .comments-body textarea {
      margin: 40px 10px 10px 10px; }
    #culture-detailcomments-page #comments .comments-body .comment-detail {
      padding-bottom: 30px; }
    #culture-detailcomments-page #comments .comments-body .testing {
      padding-top: 15px;
      border-bottom: 1px solid #ccc; }

#spaces-landing-page body {
  background: #fff; }
#spaces-landing-page h2 {
  color: #222;
  font-weight: 100;
  font-size: 44px;
  margin-left: 40px;
  margin-top: 50px; }
#spaces-landing-page h4 {
  color: #231f20;
  margin-left: 40px;
  font-weight: 100;
  line-height: 1.6; }
#spaces-landing-page .jumbotron {
  background: #fff;
  margin-bottom: 0;
  padding-bottom: 4em; }
#spaces-landing-page .subnav {
  border-bottom: 1px solid #dedede; }
  #spaces-landing-page .subnav ul {
    text-align: center; }
    #spaces-landing-page .subnav ul li {
      display: inline-block;
      font-size: 16px;
      margin-left: 1em;
      margin-right: 1em;
      transition: color 0.25s ease-in-out; }
      #spaces-landing-page .subnav ul li a {
        color: #585956; }
        #spaces-landing-page .subnav ul li a:link {
          color: #585956; }
        #spaces-landing-page .subnav ul li a:hover {
          color: #231f20;
          text-decoration: none; }
#spaces-landing-page #active-page {
  color: #acd156;
  position: relative; }
  #spaces-landing-page #active-page:after {
    content: url(../images/filled-star-green.svg);
    position: absolute;
    width: 20px;
    bottom: -27px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }
#spaces-landing-page section {
  background: #fff;
  padding-bottom: 6.5em; }
#spaces-landing-page table {
  margin: 10px 30px; }
  #spaces-landing-page table td, #spaces-landing-page table a {
    font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #231f20;
    font-size: 20px;
    font-weight: 300; }
  #spaces-landing-page table a {
    font-weight: 600; }
    #spaces-landing-page table a:link {
      color: #222; }
    #spaces-landing-page table a:hover {
      color: #222; }
#spaces-landing-page .table > tbody > tr > td {
  padding: 70px 5px 70px; }
#spaces-landing-page .table > tbody > tr > .table_letter {
  font-family: "flood-std",sans-serif;
  font-size: 6em;
  font-weight: 100;
  padding: 20px 10px;
  transform: rotate(3deg); }
#spaces-landing-page .table_letter_border {
  padding-left: 5px;
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede; }
#spaces-landing-page p {
  text-align: center; }
  #spaces-landing-page p small {
    color: #323133; }
  #spaces-landing-page p a {
    color: #222;
    font-weight: 700; }
#spaces-landing-page .map-wrapper {
  position: relative; }
#spaces-landing-page #map {
  height: 600px; }
#spaces-landing-page .marker-star {
  content: url(../images/filled-star.svg);
  width: 5px;
  position: absolute;
  bottom: 0; }
#spaces-landing-page #legend {
  position: absolute;
  bottom: 35px;
  left: 35px;
  z-index: 999;
  width: 135px;
  height: 110px;
  background: #fff;
  box-shadow: 0 0 10px rgba(120, 120, 120, 0.5); }
  #spaces-landing-page #legend ul {
    margin-top: 15px !important;
    padding-left: 15px !important; }
  #spaces-landing-page #legend svg {
    width: 15px; }
  #spaces-landing-page #legend #venue_marker {
    fill: #acd156; }
  #spaces-landing-page #legend #record_store_marker {
    fill: #26a9e0; }
  #spaces-landing-page #legend #studios_marker {
    fill: #edbe39; }
  #spaces-landing-page #legend #houses_marker {
    fill: #ee2a76; }
  #spaces-landing-page #legend > ul > li {
    list-style-type: none;
    color: #231f20;
    font-family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700; }
#spaces-landing-page .copyright small {
  font-size: 12px;
  font-style: initial; }

#venue-detail-page main {
  background: #fff; }
  #venue-detail-page main h1, #venue-detail-page main h2, #venue-detail-page main h3, #venue-detail-page main h4, #venue-detail-page main h5, #venue-detail-page main h6, #venue-detail-page main p {
    color: #231f20; }
  #venue-detail-page main h1 {
    font-family: "tablet-gothic-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase; }
  #venue-detail-page main h4 {
    font-family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #acd156;
    padding-top: 40px;
    padding-bottom: 0; }
  #venue-detail-page main article {
    padding-bottom: none; }
    #venue-detail-page main article p {
      line-height: 1.6; }
      #venue-detail-page main article p:nth-of-type(1) {
        margin-top: 5px; }
  #venue-detail-page main .image-placeholder {
    height: 300px;
    width: 300px;
    background: #585956;
    margin: 10px 10px 30px 10px; }
  #venue-detail-page main #map {
    margin: 10px;
    height: 300px;
    width: 300px; }
  #venue-detail-page main .map-container {
    position: relative; }
  #venue-detail-page main aside {
    color: #231f20; }
    #venue-detail-page main aside h4 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700; }
    #venue-detail-page main aside ul {
      list-style-type: disc; }
      #venue-detail-page main aside ul li {
        color: #231f20; }
      #venue-detail-page main aside ul a {
        color: #acd156; }
  #venue-detail-page main .grid-section {
    background: #e4e1ce;
    margin-top: 5em;
    padding-top: 3em;
    padding-bottom: 6em; }
#venue-detail-page .btn {
  text-transform: uppercase; }
#venue-detail-page #modal-button {
  color: #fff;
  opacity: 0.7;
  background: #231f20;
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 1050; }
#venue-detail-page .modal {
  position: absolute;
  top: 5%;
  left: 13%; }
  #venue-detail-page .modal .modal-dialog {
    width: 850px; }
  #venue-detail-page .modal .modal-content {
    background-color: #fff;
    width: 850px; }
  #venue-detail-page .modal .modal-header {
    border-bottom: none;
    padding: 0;
    min-height: initial; }
    #venue-detail-page .modal .modal-header .close {
      margin-top: -20px;
      margin-right: -11px; }
  #venue-detail-page .modal .close {
    font-size: 30px;
    font-weight: 100;
    text-shadow: none;
    opacity: 1.0;
    background-color: #fff;
    color: #231f20 !important;
    height: 30px;
    width: 30px;
    z-index: 1000;
    text-align: center;
    line-height: 0.8; }
  #venue-detail-page .modal a {
    padding: 0;
    border: none;
    border-radius: 999px; }
  #venue-detail-page .modal #overlayMap {
    height: 500px; }
  #venue-detail-page .modal h4, #venue-detail-page .modal p {
    color: #222; }
  #venue-detail-page .modal .modal-header > #close {
    color: red;
    background: #231f20; }

#audioplayer {
  float: right;
  width: 275px;
  height: 80px;
  background-color: #231f20;
  margin-top: 15px;
  position: relative; }
  #audioplayer h3, #audioplayer h4 {
    margin-left: 35%; }
  #audioplayer h4 {
    margin-bottom: 3px;
    font-size: 16px; }
  #audioplayer h3 {
    font-weight: 100;
    margin-top: 3px;
    margin-bottom: 10px; }

.album-cover-placeholder {
  width: 80px;
  height: 80px;
  background: red;
  float: left;
  position: relative; }

.album-cover-placeholder-big {
  width: 100px;
  height: 100px;
  background: red;
  float: left;
  position: relative; }

#nowPlay {
  position: absolute;
  bottom: 25%;
  left: 25%; }

#playButton, #pauseButton {
  position: absolute;
  bottom: 33%;
  right: 38%;
  opacity: 0.7; }

#btnNext {
  float: right;
  margin-right: 2em;
  margin-top: 2em;
  border-radius: 50%;
  border: 1px solid #231f20;
  padding: 10px 7px 10px 12px; }

#npTitle {
  color: #222; }
  #npTitle h3 {
    font-weight: 100; }

#npBand {
  color: #222; }

#contribute-page main {
  background: #fff;
  padding-top: 50px; }
  #contribute-page main h1 {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #222;
    font-weight: 100; }
  #contribute-page main p {
    color: #231f20;
    line-height: 1.6;
    padding-bottom: 30px; }
  #contribute-page main form {
    margin-bottom: 60px; }
  #contribute-page main .form-group {
    margin-bottom: 30px; }
  #contribute-page main #inputEmail, #contribute-page main #contribution-type {
    height: 50px; }
  #contribute-page main #inputEmail, #contribute-page main #contribution-type, #contribute-page main #description {
    border: 1px solid transparent;
    background-color: #fff;
    box-shadow: none; }
  #contribute-page main .form-control {
    height: 50px; }
  #contribute-page main #description {
    height: 200px; }
  #contribute-page main label {
    color: #222;
    font-size: 16px; }
  #contribute-page main input, #contribute-page main select, #contribute-page main textarea {
    font-size: 18px;
    font-weight: 300;
    padding-left: 15px; }
  #contribute-page main button[type=submit] {
    padding: 15px 50px;
    margin-top: 30px;
    margin-left: 40%;
    color: #222;
    border: 2px solid #222;
    font-size: 14px;
    text-transform: uppercase; }
  #contribute-page main .btn {
    border-radius: 0;
    border: 2px solid transparent;
    color: #231f20;
    background: #fff;
    font-size: 18px;
    font-weight: 300; }
  #contribute-page main .btn .dropdown-toggle .btn-default:focus {
    outline-color: transparent; }
  #contribute-page main .btn .dropdown-toggle .btn-default:active {
    outline-color: transparent; }
  #contribute-page main .dropdown-menu {
    font-size: 18px; }
    #contribute-page main .dropdown-menu .innner:focus {
      outline-color: transparent; }
  #contribute-page main .dropdown-menu > li > a {
    font-weight: 300; }
    #contribute-page main .dropdown-menu > li > a:focus {
      outline-color: #fff; }
  #contribute-page main .dropdown-menu li .selected:focus {
    outline-color: transparent; }
  #contribute-page main .bootstrap-select .dropdown-toggle:focus {
    outline-color: #fff !important; }

#about-page main {
  background: #fff;
  color: #222; }
#about-page p {
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 25px; }
#about-page h1 {
  font-weight: 300;
  margin-bottom: 40px; }
#about-page h2 {
  font-weight: 100;
  margin-bottom: 10px; }

#search-page main {
  background: #fff;
  color: #222;
  padding-top: 6em;
  padding-bottom: 8em; }
#search-page h1 {
  font-weight: 300;
  padding-bottom: 20px; }
#search-page h3 {
  font-weight: 100;
  display: inline-block; }
#search-page h4 {
  margin-top: 40px; }
#search-page p {
  line-height: 1.6;
  margin-top: 0; }
#search-page svg {
  fill: #222;
  width: 16px;
  transition: fill 0.25s ease-in-out; }
  #search-page svg:link {
    fill: #222; }
  #search-page svg:hover {
    fill: #222; }
#search-page .form-control {
  height: 50px;
  border: 1px solid transparent;
  box-shadow: none;
  background: #fff;
  font-size: 20px;
  font-weight: 100;
  padding-left: 20px; }
#search-page .btn {
  background: #fff;
  height: 50px;
  border: 1px solid transparent; }
#search-page button {
  margin-bottom: 40px; }
#search-page .search-result-heading h5 {
  display: inline-block;
  margin-left: 20px; }
#search-page .search-result-arrow p {
  margin-top: 100%;
  margin-left: 50%;
  color: #231f20; }

body {
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Courier New", Courier, "Lucinda Sans Typewriter", monospace; }

p {
  font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 2;
  font-weight: 100; }

a {
  color: #acd156; }
  a:link {
    color: #acd156; }
  a:hover {
    color: #acd156; }
  a:active {
    color: #acd156; }
  a:focus {
    color: #acd156; }

.navbar {
  margin-bottom: 0;
  border-radius: 0; }

.navbar-brand {
  font-family: "tablet-gothic-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  transform: rotate(-2deg);
  margin-left: 0px !important;
  margin-top: 10px;
  margin-bottom: 10px; }

.navbar-inverse {
  border-color: #231f20;
  max-height: 65px; }
  .navbar-inverse .navbar-nav > li > a {
    color: #585956;
    font-family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700; }

.navbar-nav {
  margin-left: 4em;
  text-transform: uppercase; }
  .navbar-nav li {
    margin-top: 5px; }
  .navbar-nav li > a:link {
    color: #585956; }
  .navbar-nav li > a:hover {
    position: relative; }
    .navbar-nav li > a:hover:after {
      content: "";
      border-bottom: 2px solid #acd156;
      position: absolute;
      width: 72%;
      left: 15px;
      margin-left: 1px;
      bottom: 7px; }
  .navbar-nav li > a:visited {
    color: #585956; }
  .navbar-nav svg, .navbar-nav #magnifying-glass {
    fill: #585956;
    width: 16px;
    transition: fill 0.25s ease-in-out; }
    .navbar-nav svg:link, .navbar-nav #magnifying-glass:link {
      fill: #585956; }
    .navbar-nav svg:hover, .navbar-nav #magnifying-glass:hover {
      fill: #323133; }
  .navbar-nav #search-link:hover:after {
    border-bottom: 2px solid transparent; }

.btn {
  border-radius: 0;
  border: 4px solid #acd156;
  color: #acd156;
  background: transparent; }

.btn-primary {
  border-color: #f1f2f2; }
  .btn-primary:link {
    background-color: transparent;
    border-color: #acd156;
    color: #acd156; }
  .btn-primary:hover {
    background-color: #acd156;
    border-color: #acd156;
    color: #231f20; }
  .btn-primary:active {
    background-color: #acd156;
    border-color: #acd156;
    color: #231f20;
    box-shadow: none; }
  .btn-primary:focus {
    background-color: #acd156;
    border-color: #acd156;
    color: #231f20;
    outline: 5px auto #acd156; }
  .btn-primary:active:focus {
    background-color: #acd156;
    border-color: #acd156;
    color: #231f20;
    outline: 5px auto #acd156; }
  .btn-primary:visited {
    background-color: #acd156;
    border-color: #acd156; }

.btn-group-lg > .btn, .btn-lg {
  text-transform: uppercase;
  font-family: "tablet-gothic-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 12px 24px;
  margin-right: .7em; }

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/publishreq-9.jpg);
  padding-top: 8em;
  padding-bottom: 8em; }
  .jumbotron p {
    color: #fff;
    font-family: "tablet-gothic-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1.5; }

main {
  background: #323133; }

article {
  padding-top: 5em;
  padding-bottom: 8em; }
  article p {
    margin-top: 30px; }
  article a {
    font-weight: 700;
    text-decoration: underline; }

footer {
  background: #231f20; }

.divider {
  border-bottom: 1px solid #323133; }

.footer-nav {
  margin-left: 10%; }
  .footer-nav li {
    display: inline-block;
    margin: 20px 15px 10px 15px;
    text-transform: uppercase;
    font-size: 12px; }
  .footer-nav li > a {
    color: #585956;
    font-family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700; }

#logo {
  opacity: 0.7;
  transition: opacity 0.25s ease-in-out; }
  #logo:hover {
    opacity: 1.0; }

.address-block {
  margin-top: 2em;
  margin-bottom: 0;
  text-align: center;
  font-size: 16px; }
  .address-block a {
    color: #fff;
    font-weight: 500; }

.copyright {
  margin-bottom: 0; }
  .copyright small {
    font-size: 50%;
    color: #585956;
    font-weight: 700; }

.address-block li {
  display: inline-block;
  margin: 0px 5px; }
  .address-block li:nth-of-type(1) {
    margin-left: -30px; }

/*# sourceMappingURL=main.css.map */
